.dashboard {
    padding: 50px;
    display: grid;
    flex-direction: column;
    grid-template-columns: 150px 150px 500px 500px 150px;
    grid-template-rows: 30px 150px 150px 250px;
    grid-template-areas: 
    "sidebar pinnedandthread searchbar searchbar friendsList"
    "sidebar pinnedandthread chatframe chatframe friendsList"
    "sidebar pinnedandthread chatframe chatframe friendsList"
    "sidebar pinnedandthread sendMessage messageBtn friendsList"
}

#profileImg {
    border: 1px solid black;
    height: 50px;
    width: 50px;
    border-radius: 50%;
    align-items: center;
}
#friendsList {
    border: 1px solid black;
    grid-area: friendsList;
}
#searchBar {
    border: 1px solid black;
    grid-area: searchbar;
    height: 30px;
    border-radius: 50px;
}

#chatFrame {
    grid-area: chatframe;
    height: 500px;
    width: 1000px;
}

#sendMessage {
    border: 1px solid black;
    grid-area: sendMessage;
    height: 50px;
    width: 900px;
}
.sendMessageBtn {
    border: 1px solid black;
    grid-area: messageBtn;
    width: 100px;
    height: 50px;
}

.dashboardSidebar {
    border: 1px solid black;
    grid-area: sidebar;
}

.pinnedandthread {
    border: 1px solid black;
    grid-area: pinnedandthread;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    
}